<template>
  <v-card width="600" class="mx-auto mt-10">
    <v-form class="ml-5 mr-5">
      <v-card-text>
        <v-text-field
          @click="visible = !visible"
          counter="100"
          placeholder="Project name"
          v-model="name"
        ></v-text-field>
      </v-card-text>
      <v-textarea
        class="ml-4 mr-4"
        outlined
        placeholder="Project Description"
        counter="500"
        v-show="visible"
        v-model="description"
        height="100"
      ></v-textarea>
      <div class="btn" v-show="visible">
        <v-btn text color="back" class="mb-8" @click="visible = !visible">
          Cancel
        </v-btn>
        <v-btn text color="back" class="mx-auto mb-8" @click="submit">
          Create
        </v-btn>
      </div>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: "CardInput",
  data() {
    return {
      visible: false,
      name:'',
      description:'',
      name2:{name:'sdda', description:'asdsa'}
    }
  },
  methods: {
    submit(){
      this.name2.name=this.name,
      this.name2.description=this.description
      this.$emit('childToParent', this.name2)
    }
  }
};
</script>
<style scoped>
.btn {
  margin-left: 180px;
}
</style>