<template>
  <v-card class="card">
    <div class="title">
      <span class="v-card-title">{{ title }}</span>
      <v-divider></v-divider>
    </div>

    <div class="des">{{des}}</div>
    <v-card-actions>
      <v-btn text right class="btndelete" @click="submit"> Delete </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "CardDetail",
  props:{
      title:String,
      des:String,
  }
};
</script>
<style scoped>
.card {
  margin-right: 20px;
  font-size: 13px;
  max-width: 200px;
  width: 200px;
}
.v-card-title {
  font-size: 13px;
  margin-left: 10px;
}
.title {

  background-color: #f7f7f7;
}
.des {
  margin: 10px;
}
.btndelete{
  justify-content: flex-end;
}
</style>
