<template>
    <v-footer class="d-flex flex-column " color="white">
      <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="http://3.112.38.145/images/insight-tec.png"
          transition="scale-transition"
          width="200"
        />
        <span class="logo-text">Copyright © 2020 Insight Technology Inc.</span>
    </v-footer>
</template>

<script>
export default {
  name: "Footer",

};
</script>
<style scoped>

</style>