<template>
   <v-content>
<v-card width="600" class="mx-auto mt-10">
    <v-card-title class="v-card-title">Login</v-card-title>
    <v-divider></v-divider>
    <v-form class="ml-15 mr-15" >
      <v-card-text>
      <v-text-field v-model="email" :rules="rules" label="Email*"></v-text-field>
      <v-text-field v-model="password" :rules="passwordrules"
        :type="showPassword ? 'text' : 'password'"
        label="Password*"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        @click:append="showPassword = !showPassword"
      ></v-text-field>
    </v-card-text>

    <v-checkbox
      v-model="checkbox"

      label="Remember me"
      required
    ></v-checkbox>

    <v-btn color="#448aff" class="mx-auto mb-10" @click="submit">
      Login
    </v-btn>
    </v-form>
  </v-card>
    </v-content>
  
</template>

<script>


export default {
  name: "FormLogin",
  data()
  {
    return{
        email:'',
        password:'',
        showPassword:false,
        rules: [
          v => v.length >0 || 'The e-mail address field is required',
        ],
        passwordrules: [
          v => v.length >0 || 'The password address field is required',
        ]
    }
  },
  methods:{
    submit() {
      console.log(this.email, this.password)
      alert("login success")
    }
  }
  // components: {
  //   HelloWorld,
  // },
};
</script>
<style scoped>
.v-card-title {
  background: #ededed;
}
.v-btn {
  color: white !important;
}
</style>
