<template>
  <v-app>
    <Navbar/>
    <FormLogin/>
    <Footer/>
  </v-app>
</template>

<script>
//import HelloWorld from "./components/HelloWorld";
import FormLogin from "./FormLogin";
import Footer from "./Footer";
import Navbar from "./Navbar";
export default {
  name: "LoginPage",
  components: {
    FormLogin,
    Footer,
    Navbar,
  },
};
</script>
