<template>
  <v-app-bar app color="white" dark height="90">
    <div class="d-flex align-center">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2"
        contain
        src="http://3.112.38.145/images/masking_icon.png"
        transition="scale-transition"
        width="40"
      />
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2"
        contain
        src="http://3.112.38.145/images/masking_title.png"
        transition="scale-transition"
        width="300"
      />
    </div>
    <v-btn text v-if="!visible">Project</v-btn>
    <v-btn text v-if="!visible">Templates</v-btn>
    <v-spacer></v-spacer>
    <router-link to="/Login" style="text-decoration: none; color: inherit"
      ><v-btn text>Login</v-btn></router-link
    >
    <router-link to="/Register" style="text-decoration: none; color: inherit"
      ><v-btn text>Register</v-btn></router-link
    >
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn text v-bind="attrs" v-on="on"> Language </v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(item, index) in items" :key="index">
          <v-list-title>{{ item }}</v-list-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      visible: true,
      items: ["English"],
    };
  },
};
</script>
<style scoped>
.v-btn {
  color: black !important;
}
</style>
