<template>
  <v-app>
    <NavbarProjectList />
    <v-content>
      <CardInput v-on:childToParent="onChildClick" />
      <RecentList :dataa="fromChild" />
    </v-content>
  </v-app>
</template>

<script>
import NavbarProjectList from "./NavbarProjectList";
import CardInput from "./CardInput";
import RecentList from "./RecentList";
export default {
  name: "ProjectList",
  components: {
    NavbarProjectList,
    CardInput,
    RecentList,
  },
  data (){
    return {
      fromChild:{name:'123', desc:'1234'},
    }
  },
    methods:{
      onChildClick(value){
        console.log(this.fromChild.name)
        this.fromChild.name=value.name
        this.fromChild.desc=value.description
        console.log(this.fromChild.name)
      },
  }
};
</script>