<template>
  <v-app class="ml-5">
    <strong>All Project</strong>
    <v-btn class="btn" @click="submit">Update</v-btn>
    <v-divider></v-divider>
    <v-item-group class="aa">
      <CardDetail
        v-for="(array, index) in arrays"
        :key="index"
        v-bind:title="array.title"
        v-bind:des="array.des"
      />
    </v-item-group>
  </v-app>
</template>

<script>
import CardDetail from "./CardDetail";
export default {
  name: "RecentList",
  props: {
    dataa: Object,
  },
  data() {
    return {
      data: this.dataa.name,
      data2: this.dataa.desc,
      arrays: [
        { title: "sdfdf", des: "fdsfsfedf" },
        { title: "dsfwerrwe", des: "rewrewrew" },
        { title: "dsfwerrwe", des: "rewrewrew" },
      ],
    };
  },
  components: {
    CardDetail,
  },
  methods: {
    submit() {
      this.data = this.dataa.name;
      this.data2 = this.dataa.desc;
      this.arrays.push({
        title: this.data,
        des: this.data2,
      });
    },
  },
};
</script>
<style scoped>
.show {
  margin-top: 20px;
  display: flex;
}
.aa {
  display: flex;
}
.btn {
 width:10px;
}
</style>
